<template name="groups">
  <div class="component groups">
     {{#if currentUser}}
        <!-- <input class="search" type=search placeholder="искать группу" > -->
        <div class="groups_list">
        {{#each groups }}
          {{> group}}
        {{/each}}
        </div>  
      {{else}}
        
      {{/if}}
  </div>
</template>