.component.groups { 
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  width: 200px;
  height: 600px;
  margin: 1px;
  float: left;
  /*top: 0px;*/
  /*right: 0px;*/
  position: relative;
}

.component.groups .search {
  padding: 5px;
  width: 100px;
}

.component.groups .groups_list {
  margin-top: 0px;
  height: 600px; 
  overflow: scroll;
  -webkit-overflow-scrolling: touch
}

.component.groups .group { 
   -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;


  white-space: nowrap; 
    overflow: hidden;
    
    padding: 3px; 
    text-overflow: ellipsis;

    cursor: pointer;
}

.component.groups .group:hover {
  background: #eee;
}
.component.groups .group.selected {
  background: #ccc;
}

.component.groups .group img { 
  width: 20px; 
  border-radius: 20px;
  vertical-align: middle
}