.component.chat {
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  background: white;
  padding: 0;
  width: 400px;
  height: 600px;
  margin: 1px;
  float: left;
  /*top: 0px;*/
  /*right: 0px;*/
  position: relative;
}

.component.chat .selected_group {
  height: 30px;
}
.component.chat .selected_group img {
  height: 30px;
  border-radius: 30px;
  vertical-align: middle;
}

.component.chat .messages {
  margin-top: 0px;
  height: 470px; 
  overflow: scroll;
  -webkit-overflow-scrolling: touch
}

.component.chat .message {
  margin: 10px;
  -webkit-transform: translate3d(0,0,0);
  position: relative;
}

.component.chat .message .author {
  color: #999;
  vertical-align: middle;
}

.component.chat .message .time {
  color: #ccc;
  float: right;
  text-align: right;
  line-height: 28px;
  height: 25px;
  font-size: 0.8em; 
}

.component.chat .message img {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  vertical-align: middle;
}

.component.chat .message .title {
  overflow: hidden;
}

.component.chat .message .text {
  padding-left: 30px;
}


.component.chat .panel { 
  background: #ccc;
  margin: 0px;
  padding: 10px;  
  position: absolute;
  bottom: 0;
  width: 100%;
}

.component.chat .panel input {
  width: 100%;
  /*height: 20px;*/
  padding: 5px;
  display: inline-block;
  color: black;
}

.component.chat .panel input[disabled] {
  opacity: 0.6
}


.component.chat .panel .info { 
  color: #666;
  font-size: 0.8em; 
  margin: 5px;
}