<template name="chat">
  <div class="component chat">
  <!-- <div class="selected_group">
    <a target="_blank" href="http://vk.com/{{ selectedGroup.screen_name }}">
      <img src="{{ selectedGroup.photo_50 }}">
      {{ selectedGroup.name }}
    </a>
  </div> -->

    <div class="messages">
      {{#if selectedGroup}}
        {{#each messages}}
            {{> chat_message }}
        {{/each}}
      {{else}}
        Выберите группу
      {{/if}}      
    </div>
    
    <div class="panel">
      <div class="info">
        {{#if currentUser}}
          <input type="text"  placeholder="сообщение" />
          "enter" - отправить сообщение
        {{else}}
          войдите через ВКонтакте чтобы участвовать в чате
          {{> loginButtons}}
        {{/if}}
      </div>
    </div>
  </div>    
</template>